@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Calistoga';
  font-weight: 400;
  src: url('/fonts/Calistoga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alike';
  font-weight: 400;
  src: url('/fonts/Alike-Regular.ttf') format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
